# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/raw/
data/processed/
data/database/

reports/csv/

reports/parquet/


# Database
database/*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db